#slot-machine {
    border-radius: 8px;
    background-color: #0c7c39;
    margin-top: 50px;
    padding: 60px;
    width: 600px;
    margin: auto;
    text-align: center;
}

h2#titolo {
    color: hsl(0, 0%, 0%);
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

section.slots {
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
    background-color: #100808;
    padding: 30px;
}

#button-slot {
    color: rgb(5, 2, 2);
    font-size: 30px;
    text-align: center;
    margin-top: 35px;
    padding: 30px;
    background-color: #4c378a;
    border: 1px solid #2b0227;
    border-radius: 20px;
    cursor: pointer;
}

.icons {
    font-size: 50px;
    text-align: center;
    margin: 10px;
}

#button-slot:hover {
    background-color: #911a65;
}

div#risultato {
    width: 300px;
    margin: 40px auto;
    border: 1px solid #1f2dad;
    border-radius: 25px;
    background-color: #1c24b8;
    padding: 15px;
}